.container {
	max-width: 1170px;
	margin: auto;
}
img {
	max-width: 100%;
}
.headerStyle {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	right: 0;
}

.backBtn {
	position: absolute;
	z-index: 1;
	margin: 30px;
}
.userName {
	font-family: 'Inter';
	font-weight: 400;
	text-align: center;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #efece8;
}
.inbox_people {
	background: #f8f8f8 none repeat scroll 0 0;
	float: left;
	overflow: hidden;
	width: 40%;
	border-right: 1px solid #c4c4c4;
}
.inbox_msg {
	clear: both;
	overflow: hidden;
}
.top_spac {
	margin: 20px 0 0;
}
.avatarImg {
}
.avatarImgF {
}
#likeImgf {
	margin-right: 10px;
}
.UImg {
	text-align: center;
	border-radius: 50px;
	margin-inline: 45%;
	top: 10px;
	position: relative;
}
.UImgF {
	text-align: center;
	border-radius: 50px;
	margin-inline: 45%;
	position: relative;
}
.recent_heading {
	float: left;
	width: 40%;
}
.srch_bar {
	display: inline-block;
	text-align: right;
	width: 60%;
}
.headind_srch {
	padding: 10px 29px 10px 20px;
	overflow: hidden;
	border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
	color: #05728f;
	font-size: 21px;
	margin: auto;
}
.srch_bar input {
	border: 1px solid #cdcdcd;
	border-width: 0 0 1px 0;
	width: 80%;
	padding: 2px 0 4px 6px;
	background: none;
}
.srch_bar .input-group-addon button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	padding: 0;
	color: #707070;
	font-size: 18px;
}
.srch_bar .input-group-addon {
	margin: 0 0 0 -27px;
}

.chat_ib h5 {
	font-size: 15px;
	color: #464646;
	margin: 0 0 8px 0;
}
.chat_ib h5 span {
	font-size: 13px;
	float: right;
}
.chat_ib p {
	font-size: 14px;
	color: #989898;
	margin: auto;
}
.chat_img {
	float: left;
	width: 11%;
}
.chat_ib {
	float: left;
	padding: 0 0 0 15px;
	width: 88%;
}

.chat_people {
	overflow: hidden;
	clear: both;
}
.chat_list {
	border-bottom: 1px solid #c4c4c4;
	margin: 0;
	padding: 18px 16px 10px;
}
.inbox_chat {
	height: 550px;
	overflow-y: scroll;
}

.active_chat {
	background: #ebebeb;
}

.incoming_msg_img {
	display: inline-block;
	width: 6%;
}
.received_msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}
.received_withd_msg p {
	background: #f5f5f5 none repeat scroll 0 0;
	border-radius: 10px;
	color: #000;
	font-size: 16px;
	margin: 7px;
	padding: 10px;
	width: 100%;
	font-family: 'Inter';
	font-weight: 400;
	width: fit-content;
}
.time_date {
	color: #747474;
	display: block;
	font-size: 14px;
	margin: 8px 10px 3px 15px;
}
.time_date_out {
	color: #747474;
	display: block;
	font-size: 14px;
	margin: 0 15px 0 100px;
	text-align: end;
}
.received_withd_msg {
	width: 95%;
}
.mesgs {
	float: left;
	/* padding: 0px 15px 0 10px; */
	/* width: 60%; */
	margin-top: 15%;
	margin-bottom: 15%;
}

.sent_msg p {
	background: #33a4a4 none repeat scroll 0 0;
	border-radius: 10px;
	font-size: 16px;
	margin: 7px;
	color: #fff;
	padding: 10px;
	font-family: 'Inter';
	font-weight: 400;
	float: right;
	/* width:100%; */
	width: fit-content;
}
.outgoing_msg {
	overflow: hidden;
	/* margin: 26px 0 26px; */
}
.sent_msg {
	float: right;
	width: 75%;
}
.input_msg_write input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 51px;
	padding: 15px;
	width: 75%;
}
.input_msg_write {
	border-top: 1px solid #c4c4c4;
}
.type_msg {
	/* border-top: 1px solid #c4c4c4; */
	position: fixed;
	/* top: 0; */
	bottom: 0;
	right: 0;
	left: 0;
	background: #fff;
}
.msg_send_btn {
	background: transparent;
	border: medium none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	height: 50px;
	position: absolute;
	right: 10px;
	/* top: 52px; */
	/* padding: 0; */
	width: 50px;
}
.messaging {
	padding: 0 0 0 0;
}
.msg_history {
	overflow-y: auto;
}

.lableDayWise {
	text-align: center;
	font-family: 'Inter';
	font-weight: 300;
	color: #a2a2a2;
}
.lableDayWise p {
	margin: 0;
}
.write_msg {
	opacity: 0.5;
}

/* like & dislike btn css */

.likesBtn {
	background-color: #e7e7e7;
	border-radius: 10px;
	width: fit-content;
	padding: 10px;
	margin: 7px;
}
.likesBtnF {
	border-radius: 10px;
	width: fit-content;
	padding: 10px;
	position: absolute;
	right: 15px;
}
#likeImg {
	margin-right: 10px;
}
.modal-footer {
	display: flex !important;
	flex-wrap: wrap !important;
	align-items: center !important;
	justify-content: flex-start !important;
	padding: 0.75rem !important;
	border-top: 1px solid #dee2e6 !important;
	border-bottom-right-radius: calc(0.3rem - 1px) !important;
	border-bottom-left-radius: calc(0.3rem - 1px) !important;
}
.modal-content {
	position: relative !important;
	display: flex !important;
	flex-direction: column !important;
	width: 100% !important;
	pointer-events: auto !important;
	background-color: #fff !important;
	background-clip: padding-box !important;
	border: 1px solid rgba(0, 0, 0, 0.2) !important;
	/* border-radius: 0.3rem !important; */
	outline: 0 !important;
	border-top-left-radius: 35px !important;
	border-top-right-radius: 35px !important;
}
.modal-header .close {
	padding: 0 !important;
	margin: 0 !important;
}
.modal.show .modal-dialog {
	transform: none !important;
	position: absolute;
	/* top: 0; */
	bottom: 0;
	left: 0;
	right: 0;
}
.modalHeaderLink {
	position: absolute;
	left: 50px;
}

.iframStyle {
	/* border-top-right-radius: 15px;
	border-top-left-radius: 15px; */
	height: 400px;
	border: 1px solid #efefef;
	width: 100%;
}
/* typing text css */

.typingTxt {
	background-color: #f5f5f5;
	padding: 5px 15px 8px 19px;
	border-radius: 10px;
	width: max-content;
	margin-left: 33px;
	margin-bottom: 5px;
}
.typingTxt p {
	margin-top: 0;
	margin-bottom: 0;
}

/* inter font */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100;
	src: url('assets/fonts/inter-v2-latin-100.eot'); /* IE9 Compat Modes */
	src: local(''), url('assets/fonts/inter-v2-latin-100.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/inter-v2-latin-100.woff2') format('woff2'),
		url('assets/fonts/inter-v2-latin-100.woff') format('woff'),
		url('assets/fonts/inter-v2-latin-100.ttf') format('truetype'),
		url('assets/fonts/inter-v2-latin-100.svg#Inter') format('svg');
}
/* inter-200 - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 200;
	src: url('assets/fonts/inter-v2-latin-200.eot'); /* IE9 Compat Modes */
	src: local(''), url('assets/fonts/inter-v2-latin-200.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/inter-v2-latin-200.woff2') format('woff2'),
		url('assets/fonts/inter-v2-latin-200.woff') format('woff'),
		url('assets/fonts/inter-v2-latin-200.ttf') format('truetype'),
		url('assets/fonts/inter-v2-latin-200.svg#Inter') format('svg');
}
/* inter-300 - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	src: url('assets/fonts/inter-v2-latin-300.eot'); /* IE9 Compat Modes */
	src: local(''), url('assets/fonts/inter-v2-latin-300.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/inter-v2-latin-300.woff2') format('woff2'),
		url('assets/fonts/inter-v2-latin-300.woff') format('woff'),
		url('assets/fonts/inter-v2-latin-300.ttf') format('truetype'),
		url('assets/fonts/inter-v2-latin-300.svg#Inter') format('svg');
}
/* inter-regular - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url('assets/fonts/inter-v2-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''), url('assets/fonts/inter-v2-latin-regular.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/inter-v2-latin-regular.woff2') format('woff2'),
		url('assets/fonts/inter-v2-latin-regular.woff') format('woff'),
		url('assets/fonts/inter-v2-latin-regular.ttf') format('truetype'),
		url('assets/fonts/inter-v2-latin-regular.svg#Inter') format('svg');
}
/* inter-500 - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	src: url('assets/fonts/inter-v2-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''), url('assets/fonts/inter-v2-latin-500.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/inter-v2-latin-500.woff2') format('woff2'),
		url('assets/fonts/inter-v2-latin-500.woff') format('woff'),
		url('assets/fonts/inter-v2-latin-500.ttf') format('truetype'),
		url('assets/fonts/inter-v2-latin-500.svg#Inter') format('svg');
}
/* inter-600 - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: url('assets/fonts/inter-v2-latin-600.eot'); /* IE9 Compat Modes */
	src: local(''), url('assets/fonts/inter-v2-latin-600.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/inter-v2-latin-600.woff2') format('woff2'),
		url('assets/fonts/inter-v2-latin-600.woff') format('woff'),
		url('assets/fonts/inter-v2-latin-600.ttf') format('truetype'),
		url('assets/fonts/inter-v2-latin-600.svg#Inter') format('svg');
}
/* inter-700 - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src: url('assets/fonts/inter-v2-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''), url('assets/fonts/inter-v2-latin-700.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/inter-v2-latin-700.woff2') format('woff2'),
		url('assets/fonts/inter-v2-latin-700.woff') format('woff'),
		url('assets/fonts/inter-v2-latin-700.ttf') format('truetype'),
		url('assets/fonts/inter-v2-latin-700.svg#Inter') format('svg');
}
/* inter-800 - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	src: url('assets/fonts/inter-v2-latin-800.eot'); /* IE9 Compat Modes */
	src: local(''), url('assets/fonts/inter-v2-latin-800.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/inter-v2-latin-800.woff2') format('woff2'),
		url('assets/fonts/inter-v2-latin-800.woff') format('woff'),
		url('assets/fonts/inter-v2-latin-800.ttf') format('truetype'),
		url('assets/fonts/inter-v2-latin-800.svg#Inter') format('svg');
}
/* inter-900 - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	src: url('assets/fonts/inter-v2-latin-900.eot'); /* IE9 Compat Modes */
	src: local(''), url('assets/fonts/inter-v2-latin-900.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/inter-v2-latin-900.woff2') format('woff2'),
		url('assets/fonts/inter-v2-latin-900.woff') format('woff'),
		url('assets/fonts/inter-v2-latin-900.ttf') format('truetype'),
		url('assets/fonts/inter-v2-latin-900.svg#Inter') format('svg');
}
